h1 {
    color:hotpink;
    font-family;sans-serif;
    background-color: bisque;
    text-align: center;
}

h2 {
    color:hotpink;
    font-family;sans-serif;
    background-color: bisque;
    text-align: center;
}

p {
    color:black;
    font-family: bold;
    background-color: bisque;
    text-align: center;
}

head {
    background-color: bisque;
}
body {
    background-color: bisque;
    text-align: center;
}